@import "./fonts/fonts.scss";
@import "./global/reset.scss";
@import "./mixing/mixing.scss";
//#################################### HEADER

.nav-menu {
    @include conteiner(100%, 100%);
    @include conteiner-box(row, flex);
    justify-content: center;
    align-items: center;

    .nav-menu--list {
        @include conteiner-box(row, flex);
        list-style: none;
        text-decoration: none;
        gap: 25px;

        .menu-list--option {
            text-decoration: none;
            margin-right: 36px;
            @include tipografia-2;

            .menu-list--option:visited {
                @include tipografia-2;

            }


        }

    }

}

.bg {
    padding: 200px 5px;
    background: url(/assets/img/thumb-1920-107611.jpg) 30% no-repeat;
    background-size: cover;
    background-position: bottom;
}

.text-principal {
    @include conteiner-box(row, flex);
    justify-content: center;
    padding: 10px 0px;
    @include tipografia-1;
    font-size: 35pt;
    text-shadow: 0.1em 0.1em 0.15em #ff69b4;
    list-style: none;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

//#############################Table

.container-table {
    padding: 70px 115px;
    display: flex;
    justify-content: center;
    align-items: center;

    .res {
        @include conteiner(100%, 100%);
        @include conteiner-box(row, flex);
        @include tipografia-1;

        .table-post {
            @include conteiner(100%, 100%);
            display: flex;
            flex-direction: column;
            gap: 23px;

            .table-post--item {
                @include conteiner-box(row, flex);
                list-style: none;
                box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            }

            .table-post--item:hover {
                padding: 20px 10px;
            }

            .table-post--item-false {
                text-shadow: 0.1em 0.1em 0.15em #ff69b4;
                list-style: none;
                box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            }

            .table-post--item-false:hover {
                padding: 20px 10px;
            }
        }

    }

}